<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/jquery.js"></script>
  <script defer src="/todo-frontend.js"></script>
</head>
<body>
  <h1>Todo List</h1>
  <form method="POST" action="/">
    <input id="newtask" name="newtask">
    <button id="btnadd" type="submit">ADD</button>
  </form>

  <ul id="todolist">
    {{#each todos as |t|}}
    <li>{{t}}</li>
    {{/each}}
  </ul>
</body>
</html>
