* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.box {
  width: 200px;
  height: 200px;
  background-color: red;
  padding: 10px;
  margin: 10px;
  border: 10px solid black;
  box-sizing: border-box;
  display: inline-block;
}