<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

  {{> navbar}}

  <div class="container">

    <h1 class="text-center"> Articles </h1>

    {{#each articles as |article|}}
      {{> article_card article}}
    {{/each}}

  </div>

  <p>This is a blog</p>
</body>
</html>
